<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Yan.mapper.ConsumerMapper">

    <insert id="insert">
        insert into consumer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                id,
            </if>
            <if test="username !=null">
                username,
            </if>
            <if test="password !=null">
                password,
            </if>
            <if test="sex !=null">
                sex,
            </if>
            <if test="phoneNum !=null">
                phone_num,
            </if>
            <if test="email !=null">
                email,
            </if>
            <if test="birth !=null">
                birth,
            </if>
            <if test="introduction !=null">
                introduction,
            </if>
            <if test="location !=null">
                location,
            </if>
            <if test="avator !=null">
                avator,
            </if>
            create_time,update_time
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                #{id},
            </if>
            <if test="username !=null">
                #{username},
            </if>
            <if test="password !=null">
                #{password},
            </if>
            <if test="sex !=null">
                #{sex},
            </if>
            <if test="phoneNum !=null">
                #{phoneNum},
            </if>
            <if test="email !=null">
                #{email},
            </if>
            <if test="birth !=null">
                #{birth},
            </if>
            <if test="introduction !=null">
                #{introduction},
            </if>
            <if test="location !=null">
                #{location},
            </if>
            <if test="avator !=null">
                #{avator},
            </if>
            now(),now()
        </trim>
    </insert>
    <update id="update">
        update consumer
        <set>
            <if test="id != null">
                id=#{id},
            </if>
            <if test="username !=null">
                username=#{username},
            </if>
            <if test="password !=null">
                password=#{password},
            </if>
            <if test="sex !=null">
                sex=#{sex},
            </if>
            <if test="phoneNum !=null">
                phone_num=#{phoneNum},
            </if>
            <if test="email !=null">
                email=#{email},
            </if>
            <if test="birth !=null">
                birth=#{birth},
            </if>
            <if test="introduction !=null">
                introduction=#{introduction},
            </if>
            <if test="location !=null">
                location=#{location},
            </if>
            <if test="avator !=null">
                avator=#{avator},
            </if>
            create_time=now(),
            update_time=now()
        </set>
        where id=#{id}
    </update>
    <delete id="delete">
        delete
        from consumer
        where id=#{id}
    </delete>
    <select id="selectById" resultType="com.Yan.entity.Consumer">
        select id,username,password,sex,phone_num,email,birth,introduction,location,avator,create_time,update_time
        from consumer
        where id=#{id}
    </select>
    <select id="AllConsumer" resultType="com.Yan.entity.Consumer">
        select id,username,password,sex,phone_num,email,birth,introduction,location,avator,create_time,update_time
        from consumer
    </select>
    <select id="consumerOfName" resultType="com.Yan.entity.Consumer">
        select id,username,password,sex,phone_num,email,birth,introduction,location,avator,create_time,update_time
        from consumer
        where username=#{username}
    </select>
    <select id="consumerOfSex" resultType="com.Yan.entity.Consumer">
        select id,username,password,sex,phone_num,email,birth,introduction,location,avator,create_time,update_time
        from consumer
        where sex=#{sex}
    </select>
    <select id="verifyPassword" resultType="java.lang.Integer">
        select count(*)
        from consumer
        where username=#{username} and password=#{password}
    </select>
</mapper>