<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Yan.mapper.SongMapper">


    <insert id="insert">
        insert into song
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="singerId != null">
                singer_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            create_time,update_time,
            <if test="pic != null">
                pic,
            </if>
            <if test="lyric != null">
                lyric,
            </if>
            <if test="url != null">
                url
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="singerId != null">
                #{singerId},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="introduction != null">
                #{introduction},
            </if>
            now(),now(),
            <if test="pic != null">
                #{pic},
            </if>
            <if test="lyric != null">
                #{lyric},
            </if>
            <if test="url != null">
                #{url}
            </if>
        </trim>
    </insert>
    <update id="update">
        update song
        <set>
            <if test="id != null">
                id=#{id},
            </if>
            <if test="singerId != null">
                singer_id=#{singerId},
            </if>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="introduction != null">
                introduction=#{introduction},
            </if>
            update_time=now(),
            <if test="pic != null">
                pic=#{pic},
            </if>
            <if test="lyric != null">
                lyric=#{lyric},
            </if>
            <if test="url != null">
                url=#{url}
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="delete">
        delete from song
        where id=#{id}
    </delete>
    <select id="selectById" resultType="com.Yan.entity.Song">
        select id,singer_id,name,introduction,create_time,update_time,pic,lyric,url
        from song
        where id=#{id}
    </select>
    <select id="AllSong" resultType="com.Yan.entity.Song">
        select id,singer_id,name,introduction,create_time,update_time,pic,lyric,url
        from song
    </select>
    <select id="songofName" resultType="com.Yan.entity.Song">
        select id,singer_id,name,introduction,create_time,update_time,pic,lyric,url
        from song
        where name = #{name}
    </select>
    <select id="songofSingerId" resultType="com.Yan.entity.Song">
        select id,singer_id,name,introduction,create_time,update_time,pic,lyric,url
        from song
        where singer_id=#{singerId}
    </select>
</mapper>